---
import { loadSiteData } from "../lib/content";

const year = new Date().getFullYear();
const site = loadSiteData();
---

<footer class="site-footer">
  <div class="site-footer-inner">
    <p>{site.person.name}</p>
    <p class="mono">{site.person.location} / {year}</p>
  </div>
</footer>